<h2 mat-dialog-title>Aktuální seznam</h2>

<mat-dialog-content [ngBusy]="busy" style="width: 1200px;">

    <table mat-table [dataSource]="dataSource" matSort matSortActive="createdAt" matSortDirection="desc"
        matSortDisableClear>

        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let element" style="min-width: 80px; text-align: center;">
                <button matIconButton (click)="onLocalize(element)" title="Lokalizace" class="compact">
                    <mat-icon>location_on</mat-icon>
                </button>
                <button matIconButton (click)="onDelete(element)" title="Odstranění" class="compact">
                    <mat-icon>delete</mat-icon>
                </button>
            </td>
        </ng-container>

        <ng-container matColumnDef="pracoviste">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Pracoviště: </th>
            <td mat-cell *matCellDef="let element" style="text-align: left;">
                {{element.pracoviste}}
            </td>
        </ng-container>

        <ng-container matColumnDef="ku">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> K.ú: </th>
            <td mat-cell *matCellDef="let element" style="text-align: left;">
                {{element.ku}}
            </td>
        </ng-container>

        <ng-container matColumnDef="cisloLv">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Id LV: </th>
            <td mat-cell *matCellDef="let element" style="width: 100px; text-align: right;">
                {{element.cisloLv}}
            </td>
        </ng-container>

        <ng-container matColumnDef="createdAt">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Datum: </th>
            <td mat-cell *matCellDef="let element" style="width: 170px; text-align: center;">
                {{element.createdAt | date:'dd.MM.yyyy HH:mm:ss'}}
            </td>
        </ng-container>

        <ng-container matColumnDef="cenaNabidkova">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Cena: </th>
            <td mat-cell *matCellDef="let element" style="width: 100px; text-align: center;">
                {{element.cenaNabidkova}}
            </td>
        </ng-container>

        <ng-container matColumnDef="poznamka">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Poznámka: </th>
            <td mat-cell *matCellDef="let element" style="width: 150px; text-align: left;">
                {{element.poznamka}}
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[10]" showFirstLastButtons aria-label="Vyber stránku" />

</mat-dialog-content>

<mat-dialog-actions>
    <button matButton (click)="close()" title="Zrušit">
        <mat-icon>cancel</mat-icon>
        Zrušit
    </button>
</mat-dialog-actions>