.card {
    margin-top: 10px;
}

.form-group {
    margin-bottom: 2px;
}

.container-fluid {
    overflow: auto;
    height: 100vh;
    margin: 0px;
}

.card-title {
    padding: 15px;
    margin: 0;
    font-size: 12pt
}

.card-body {
    padding-bottom: 0px;
    padding-right: 15px;
    padding-top: 0px;
    padding-left: 15px;
    font-size: 10pt
}

input,
button {
    font-size: 10pt
}

.label {
    vertical-align: bottom
}

.form-horizontal {
    margin-top: 10px;
}

td {
    padding: 2px;
}

table {
    margin-top: 10px;
}

p {
    vertical-align: middle
}

.buttons {
    margin-bottom: 50px;
}

.button-action {
  margin-top: 5px;
  vertical-align: middle;
  cursor: pointer;
}

.selected-lvs {
  height: 400px;
  overflow: auto;
}

.red {
  color: red;
}

.full-width {
  width: 88%;
}