<div class="container-fluid" [ngBusy]="busy">

  <div class="card">
    <div class="card-title" (click)="listCollapsed = !listCollapsed"><b>Seznam:</b></div>
    <div class="card-body">
      <form [formGroup]="exportForm">
        <div style="display: flex; align-items: center;">
          <mat-form-field style="width: 65%;">
            <input type="text" placeholder="Vyberte" matInput formControlName="name" [matAutocomplete]="autoExport"
              (focus)="exportFocus()" (focusout)="exportFocusOut()" (input)="handleNoExport($event.target.value)" />
            <mat-autocomplete #autoExport="matAutocomplete" [displayWith]="displayFnExportId"
              (optionSelected)="selectExport($event.option.value)">
              <mat-option *ngFor="let option of exportOptions | async" [value]="option">
                {{option.name}} ({{option.createdAt | date:'dd.MM.yyyy HH:mm:ss'}})
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
          <button matIconButton (click)="existingExports()" title="Existující seznamy">
            <mat-icon>library_books</mat-icon>
          </button>
          <button matIconButton (click)="viewExport()" title="Seznam nabídek"
            [disabled]="!exportForm.controls.name.value">
            <mat-icon [matBadge]="getActiveExportPricesCount()" matBadgeSize="medium"
              aria-hidden="false">view_list</mat-icon>
          </button>
          <button matIconButton (click)="export()" title="Stažení nabídek" [disabled]="!exportForm.controls.name.value">
            <mat-icon>cloud_download</mat-icon>
          </button>
        </div>
      </form>
    </div>
  </div>

  <div class="card">
    <b class="card-title" (click)="localizationCollapsed = !localizationCollapsed">Lokalizace:</b>
    <div class="card-body" style="width: 100%;">
      <form [formGroup]="katuzeForm">
        <mat-form-field class="allmost-full-width">
          <mat-label>Katastrální území</mat-label>
          <input type="text" placeholder="Vyberte" matInput formControlName="katuze" [matAutocomplete]="autoKatuze"
            (focus)="katuzeFocus()" (focusout)="katuzeFocusOut()" (input)="handleNoKu($event.target.value)" />
          <mat-autocomplete #autoKatuze="matAutocomplete" [displayWith]="displayFnKatuze"
            (optionSelected)="selectKu($event.option.value)">
            <mat-option *ngFor="let option of katuzeOptions | async" [value]="option">
              {{option.name}} ({{option.id}})
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
        <button matIconButton (click)="onLocalizeKu()" [disabled]="!katuzeForm.valid" title="Lokalizace">
          <mat-icon>location_on</mat-icon>
        </button>
      </form>

      <form [formGroup]="parForm">
        <mat-form-field class="allmost-full-width">
          <mat-label>Parcela</mat-label>
          <input type="text" placeholder="Napište" matInput formControlName="parCislo" />
        </mat-form-field>
        <button matIconButton (click)="onLocalizePar()" [disabled]="!katuzeForm.valid || !parForm.valid"
          title="Lokalizace">
          <mat-icon>location_on</mat-icon>
        </button>
      </form>

      <form [formGroup]="lvForm">
        <mat-form-field class="allmost-full-width">
          <mat-label>LV</mat-label>
          <input type="text" placeholder="Napište" matInput formControlName="lvId" />
        </mat-form-field>
        <button matIconButton (click)="onLocalizeLv()" [disabled]="!katuzeForm.valid || !lvForm.valid"
          title="Lokalizace">
          <mat-icon>location_on</mat-icon>
        </button>
      </form>

      <button matButton (click)="cancelSelection(); $event.preventDefault();" title="Zruš zvýraznění">
        <mat-icon>cancel</mat-icon>
        Zruš zvýraznění
      </button>
    </div>
  </div>

  @if (!!featureInfoData) {
  <div class="card">
    <div class="card-title">
      <b (click)="infoCollapsed = !infoCollapsed">Informace:</b>
    </div>
    <div class="card-body">
      <mat-tab-group [collapse]="infoCollapsed" [selectedIndex]="featureInfoData.activeTab == 'par' ? 1 : 0">
        <mat-tab label="LV + Vlastnictví">
          <form [formGroup]="lvInfoForm">
            <table class="table">
              <tbody>
                <tr>
                  <td>nabídková cena m<sup>2</sup>:</td>
                  <td>
                    <div style="display: flex; align-items: center;">
                      <input type="number" min="1" formControlName="cena" matInput oninput="validity.valid||(value='');"
                        [readonly]="!session || !session.activeExport" style="flex-grow: 1;">
                    </div>
                  </td>
                  <td rowspan="2">
                    <button matIconButton title="Potvrdit" class="compact" (click)="confirmPriceAndComment()"
                      [disabled]="!session || !session.activeExport">
                      <mat-icon>save</mat-icon>
                    </button>
                  </td>
                </tr>
                <tr>
                  <td>poznámka:</td>
                  <td>
                    <div style="display: flex; align-items: center;">
                      <input type="text" maxlength="20" formControlName="poznamka" matInput
                        oninput="validity.valid||(value='');" class="full-width"
                        [readonly]="!session || !session.activeExport" style="flex-grow: 1;">
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>datum:</td>
                  <td>
                    {{featureInfoData.datum | date:'dd.MM.yyyy HH:mm:ss'}}
                  </td>
                </tr>
                @if (!!featureInfoData.pracoviste) {
                <tr>
                  <td>pracoviště:</td>
                  <td>
                    {{featureInfoData.pracoviste}}
                  </td>
                </tr>
                }
                @for (item of featureInfoData?.lv; track item) {
                <tr>
                  <td>
                    <div [innerHTML]="item.label"></div>
                  </td>
                  <td>
                    <div style="display: flex; align-items: center;">
                      <div [innerHTML]="item.valueWithUnit"></div>
                      @if (item.id == 'KU') {
                      <button matIconButton (click)="onLocalizeKu2()" title="Lokalizace" class="compact">
                        <mat-icon>location_on</mat-icon>
                      </button>
                      }
                      @if (item.id == 'LVID') {
                      <button matIconButton (click)="onLocalizeLv2()" title="Lokalizace" class="compact">
                        <mat-icon>location_on</mat-icon>
                      </button>
                      }
                    </div>
                  </td>
                </tr>
                }
              </tbody>
            </table>
          </form>
          @for (vlastnik of featureInfoData?.vl; track vlastnik; let i = $index) {
          <table class="table">
            <tbody>
              <tr>
                <th colspan="2">{{i+1}}. vlastník</th>
              </tr>
              @for (item of vlastnik; track item) {
              <tr>
                <td>
                  <div [ngClass]="item.class" [innerHTML]="item.label"></div>
                </td>
                <td>
                  <div [ngClass]="item.class" [innerHTML]="item.valueWithUnit"></div>
                </td>
              </tr>
              }
            </tbody>
          </table>
          }
        </mat-tab>

        <mat-tab label="Parcely">
          @for (par of featureInfoData?.pars; track par; let i = $index) {
          <hr />
          <table class="table">
            <tbody>
              <tr
                [ngClass]="{'clicked': shouldBeHiglighted(par)}">
                <th colspan="2">{{i+1}}. parcela</th>
              </tr>
              @for (item of par; track item) {
              <tr>
                <td>
                  <div [ngClass]="item.class" [innerHTML]="item.label"></div>
                </td>
                <td>
                  <div style="display: flex; align-items: center;">
                    <div [innerHTML]="item.valueWithUnit"></div>
                    @if (item.id == 'KU') {
                    <button matIconButton (click)="onLocalizeKu2()" title="Lokalizace" class="compact">
                      <mat-icon>location_on</mat-icon>
                    </button>
                    }
                    @if (item.id == 'LVID') {
                    <button matIconButton (click)="onLocalizeLv2()" title="Lokalizace" class="compact">
                      <mat-icon>location_on</mat-icon>
                    </button>
                    }
                    @if (item.id == 'PAR_CISLO') {
                    <button matIconButton (click)="onLocalizePar2(item)" title="Lokalizace" class="compact">
                      <mat-icon>location_on</mat-icon>
                    </button>
                    }
                  </div>
                </td>
              </tr>
              }
            </tbody>
          </table>
          }
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
  }
</div>